:root {
    --work-bg: #d63031;
    --rest-bg: #00b894;
    --prep-bg: #f1c40f;
}

body {
    background-color: #818181;
    color: white;
    font-family: 'Arial Black', Gadget, sans-serif;
    transition: background-color 0.4s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-logo {
    max-height: clamp( 300px, 22vh, 400px); 
    border-radius: 15px;
    filter: drop-shadow(0 10px 20px rgba(169, 169, 169, 0.4));
}

.config-card {
    background: #ffffff;
    color: #000000;
    border-radius: 30px;
    max-width: 600px;
    width: 95%;
    padding: 2rem !important;
}

.custom-input {
    font-size: 1.8rem !important;
    height: auto;
    font-weight: bold !important;
    text-align: center;
    border: 4px solid #dfe6e9 !important;
}

.timer-display {
    font-size: clamp(7rem, 35vw, 30rem); 
    font-weight: 900;
    line-height: 0.8;
    margin: 1vh 0;
    letter-spacing: -5px;
    text-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.status-text {
    font-size: clamp(2rem, 6vw, 6rem);
    letter-spacing: 10px;
    text-transform: uppercase;
}

.round-text {
    font-size: clamp(1.2rem, 4vw, 4rem);
    opacity: 0.9;
}

/* Clase para el parpadeo de alarma */
.bg-dark-blink {
    background-color: #000000 !important;
}

@media (min-width: 1400px) {
    .timer-display { margin: 0; }
}